
.filme-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.filme-info h1{
    margin: 14px 0;
}

.filme-info img{
    width: 800px;
    max-width: 100%;
    border-radius: 8px;
    max-height: 340px;
    object-fit: cover;
}

.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin: 8px 0;
}

.area-buttons button{
    margin-top: 14px;
    margin-right: 12px;
    margin-left: 0;
    border-radius: 4px;
    border: 0;
    outline: none;
    padding: 12px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 20px;
}

.area-buttons button:hover{
    color: #fff;
    background-color: brown;
}

.area-buttons a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.area-buttons a:hover{
    color: #fff;
}
